*, *::before, *::after {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    outline: none;
}


html {
    font-size: 14px;
}


body {
    background-color: #A882DD;
}


main {
    width: 100vw;
    height: 100vh;
}


.register-title {
    font-size: 1.8rem;
    margin-bottom: 1rem !important;
}


#register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#register-form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-group, #register {
    padding: 0 .3em !important;
}


input:not([type="checkbox"]) {
    height: 3.2em;
    width: 100% !important;
    background-color: #E5E5E5;
    border-radius: 25px;
    border: none;
    text-indent: 1em;
    margin: .3em 0 !important;
}


.agreements {
    margin: .5rem 0 !important;
    display: flex;
    flex-direction: column;
}


#register-btn {
    margin-top: 1rem !important;
    background-color: #FCA311;
    padding: .7em 3em !important;
    border: none;
    border-radius: 7px;
    font-weight: 600;
    color: #49416D;
}


    
    
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    html {
        font-size: 16px;
    }

}



//
// Medium devices (tablets, 768px and up)
// @media (min-width: 768px)

// Large devices (desktops, 992px and up)
// @media (min-width: 992px)

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px)
// 